body {
  background-image: linear-gradient(to bottom, darkblue, dodgerblue);
  background-color: dodgerblue;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.timer-moves {
  margin: 2% auto;
  display: flex;
  justify-content: space-around;
  width: 550px;
}

span {
  font-weight: bold;
  color: antiquewhite;
}

.board-container {
  /* center the board container, and at the top 5% */
  margin: 2% auto;
  display: flex;
  width: 550px;
  height: 530px;
  background-color: rgb(0, 47, 255);
  border-radius: 15px;
  /* Inset Shadow */
  box-shadow: 0 0 6px blue inset;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.5);
}

#board {
  margin: auto;
  background-color: rgb(0, 0, 255);
  border-radius: 15px;
  /* Shadow to the board */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
}


tr {
  display: flex;
  /* padding between tr's */
  padding: 10px;
  width: 500px;
  justify-content: space-around;
}

td {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: dodgerblue;
  opacity: 0.5;
  /* sombra interna del circulo */
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5),
    inset 0px -3px 3px rgba(255, 255, 255, 0.5);
}

td:hover {
  box-shadow: 10px 0px 15px white,
    -10px 0px 15px white,
    0px 10px 15px white,
    0px -10px 15px white,
    /* sombra interna del circulo */
    inset 0px 2px 2px rgba(0, 0, 0, 0.5);
  /* opacity: 1; */
}

td[color="yellow"] {
  background-color: yellow;
  opacity: 0.9;
}

td[color="red"] {
  background-color: red;
  opacity: 0.9;
}

.selected {
  /* Light of circle (right, left, down, up) */
  box-shadow: 10px 0px 15px white,
    -10px 0px 15px white,
    0px 10px 15px white,
    0px -10px 15px white,
    /* sombra interna del circulo */
    inset 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.center {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
}


#startButton {
  width: 100px;
  height: 40px;
  background-color: yellow;
  font-weight: bold;
  border: none;
  box-shadow: 0px 5px 5px rgb(0, 0, 0.5);
}

#startButton:hover {
  opacity: 0.8;
}

#startButton:active {
  box-shadow: -1px 2px 2px rgb(0, 0, 0.5);
  background-color: yellowgreen;
}

.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  z-index: 9999;
  /* valor alto para superponer otros elementos */
  pointer-events: none;
  /* permitir que los clics pasen a través del círculo */
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.5),
    inset 0px -3px 3px rgba(255, 255, 255, 0.5);
}


.round-button {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  align-items: center;
  background-color: yellow;
  border: none;
  box-shadow: 0px 5px 5px rgb(0, 0, 0.5);
}

.round-button:hover {
  opacity: 0.9;
}

.round-button:active {
  box-shadow: -1px 2px 2px rgb(0, 0, 0.5);
  background-color: yellowgreen;
}