.GameTimerContainer{
    position: relative;
    background-color:red;
    border:1px solid black;
    text-align: center;
    text-decoration-color: white;
}
.GameMainContainer{
    position: fixed;
    top: 3%;
    left: 3%;
    background-color: black;
    border: 4px solid black;
}
.tablero{
    position: unset;
    background-color:blue;
    border: 4px solid blue;
}
